.ctl-col {
	float: left;
}

.ctl-col.left {
	/* width: 70%; */
}

.ctl-col.right {
	width: 30%;
}

#ctl-options .form-table:not(:nth-child(2)) th {
	display: none;
}

.ctl-table {
	display: none;
}

#ctl-options .nav-tab {
	cursor: pointer;
	margin-bottom: -1px;
}

#ctl-options .nav-tab-active {
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
}

.ctl-table.active {
	display: block;
}

.ctl-table-cell {
	float: left;
}

.ctl-table-cell label {
	width: 2.4em;
	display: inline-block;
	text-align: right;
	margin-right: 0.2em;
}

.ctl-table-cell input {
	width: 3em !important;
	display: inline-block !important;
}

.ctl-col.right form input[name="submit"] {
	cursor: pointer;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 767px) {
	.ctl-col.left, .ctl-col.right {
		width: 100%;
	}
}
