.idea/
.phpunit.cache/
.yarn/
assets/css/*.min.css
assets/js/apps/
assets/js/*.min.js
coverage/
node_modules/
tests/**/*.cache
vendor/

*.lock
!yarn.lock
.DS_Store
.phpcs.cache
.phpunit.result.cache
.pnp.*
Thumbs.db
coverage.*
