#ctl-confirm-popup {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(241,241,241,0.8);
	z-index: 9999;
}

#ctl-confirm-content {
	display: block;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
}
