#ctl-options.ctl-tables h2,
#ctl-options.ctl-tables table {
	display: none;
}

#ctl-options.ctl-tables h2.nav-tab,
#ctl-options.ctl-tables table.active {
	display: block;
	font-size: 14px;
	border-radius: 4px;
}

#ctl-options.ctl-tables h2.nav-tab {
	padding: 5px;
	white-space: pre-line;
	overflow-wrap: break-word;
}

#ctl-options .form-table th {
	display: none;
}

#ctl-options table tbody tr td {
	padding: 15px 10px;
	display: table-cell;
}

.ctl-table {
	display: none;
}

#ctl-success, #ctl-error {
	max-height: 0;
	color: #fff;
	font-size: 14px;
	padding: 0;
	transition: 0.5s all;
}

#ctl-success {
	background: #8BC34A;
}

#ctl-error {
	background: #FF9800;
}

#ctl-success.active, #ctl-error.active {
	padding: 10px 25px;
	max-height: 34px;
	height: 14px;
	line-height: 14px;
	margin-top: 15px;
}

#ctl-options .nav-tab-wrapper {
	width: 120px;
	float: left;
	padding-top: 22px;
	border-bottom: none;
	text-align: center;
}

body.js #ctl-options .ctl-table {
	width: calc(100% - 120px);
	float: left;
	clear: none;
}

#ctl-options .nav-tab {
	cursor: pointer;
	margin: 0 0 23px 0;
	clear: both;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #c3c4c7;
}

#ctl-options .submit, #ctl-convert-existing-slugs {
	clear: both;
	float: left;
	margin-top: 0;
	padding-bottom: 0;
}

#ctl-convert-existing-slugs .submit {
	margin-top: 0;
}

#ctl-options .nav-tab-active {
	background: #4f94d4;
	color: #fff;
	border-color: #2271b1;
}

#ctl-options .nav-tab-current.nav-tab-active {
	background: #2271b1;
	color: #fff;
	border-color: #0a4b78;
}

.ctl-table.active {
	display: block;
}

.ctl-table-cell {
	float: left;
	position: relative;
	margin: 0 0.2em 1em 0.2em;
	width: 6.2em;
	display: flex;
	justify-content: space-between;
}

td fieldset .ctl-table-cell label {
	width: 3em;
	display: inline-block;
	text-align: right;
	margin: 0 !important;
	padding: 0 8px;
	line-height: 30px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid transparent;
	vertical-align: middle;
	box-sizing: border-box;
	overflow: hidden;
	word-break: break-all;
}

.ctl-table-cell input {
	width: 3em !important;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	border-width: 1px;
}

.ctl-table-cell #ctl-edit-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 3em !important;
	margin: 0;
	padding: 0 8px;
	border: 1px solid #007cba !important;
	box-shadow: 0 0 0 1px #007cba;
	outline: none;
	border-radius: 4px;
	height: 30px;
}

.ctl-table-cell #ctl-edit-label:focus-visible {
	outline: none;
}

.ctl-edit-label-error {
	background: #FF9800;
}

.ctl-plus {
	position: relative;
	display: flex;
	height: 30px;
	width: 6.2em;
	align-items: center;
	justify-content: center;
}

.ctl-plus button {
	border: none;
	cursor: pointer;
	height: 24px;
	width: 24px;
	padding: 0;
}

.ctl-plus button:focus {
	outline: none;
}

@media screen and (max-width: 782px) {
	.ctl-table-cell {
		width: 100px;
	}

	td fieldset .ctl-table-cell label {
		height: 40px;
		line-height: 40px;
		width: 48px;
	}

	.ctl-table-cell #ctl-edit-label {
		height: 40px;
	}

	#ctl-options table tbody tr td {
		padding: 15px 1px;
	}

	.ctl-plus {
		height: 40px;
		width: 100px;
	}
}
