<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./bootstrap.php" backupGlobals="false"
		 colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true" beStrictAboutTestsThatDoNotTestAnything="false"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage>
		<include>
			<directory suffix=".php">../../</directory>
		</include>
		<exclude>
			<directory>../../.github</directory>
			<directory>../../.make</directory>
			<directory>../../assets</directory>
			<directory>../../css</directory>
			<directory>../../dist</directory>
			<directory>../../js</directory>
			<directory>../../languages</directory>
			<directory>../../lib</directory>
			<directory>../../src</directory>
			<directory>../../tests</directory>
			<directory>../../vendor</directory>
		</exclude>
	</coverage>
	<testsuites>
		<testsuite name="cyr2lat-tests">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
