<phpunit
		bootstrap="./bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="cyr2lat-tests">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../../</directory>
			<exclude>
				<directory>../../build</directory>
				<directory>../../locale</directory>
				<directory>../../tests</directory>
				<directory>../../vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
